ShopingCar.Web/Service References/ShoppingCarServer/ShoppingServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15847/ShoppingServer.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:15847/ShoppingServer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ShopingCar.Server" />
  <xs:element name="CrearProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ShopingCar.Server" minOccurs="0" name="CrearProductoResult" nillable="true" type="q2:wsSQLResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ShopingCar.Server" minOccurs="0" name="BuscarProductoNombreResult" nillable="true" type="q4:ArrayOfProducto_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ShopingCar.Server" minOccurs="0" name="CrearPedidoResult" nillable="true" type="q6:wsSQLResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ShopingCar.Server" minOccurs="0" name="CrearUsuarioResult" nillable="true" type="q8:wsSQLResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HacerPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HacerPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ShopingCar.Server" minOccurs="0" name="HacerPedidoResult" nillable="true" type="q10:wsSQLResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ShopingCar.Server" minOccurs="0" name="LoginUsuarioResult" nillable="true" type="q12:wsSQLResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q13:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ShopingCar.Server" minOccurs="0" name="ListarDetalleResult" nillable="true" type="q14:ArrayOfDetallePedido_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/Message" name="JSONdataStream" type="q15:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ShopingCar.Server" minOccurs="0" name="ListarPedidosResult" nillable="true" type="q16:ArrayOfPedido_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>